In [1]:
from ssakg_tests import table3

no_symbols_list = [1000, 2000]
context_list = [8, 6, 5, 4, 3]
sequence_length = 15
number_of_sequences = 1000
unique_elements = True

table3_dataframe, caption = table3(symbols_list=no_symbols_list, context_list=context_list,
                                   sequence_length=sequence_length,
                                   number_of_sequences=number_of_sequences, unique_elements=unique_elements,
                                   show_progress=False)

display(table3_dataframe.style.format('{:.3g}').set_caption(caption))

In [2]:
from ssakg_tests import table2

no_symbols_list = [1000, 2000]
context_length = 6
sequence_length = 15
number_of_sequences_list = [500, 1000, 1500, 2000, 2500, 3000]
unique_elements = True

table2_dataframe, caption = table2(symbols_list=no_symbols_list, number_of_sequences_list=number_of_sequences_list,
                                   context_length=context_length,
                                   sequence_length=sequence_length, unique_elements=unique_elements,
                                   show_progress=False)

display(table2_dataframe.style.format('{:.3g}').set_caption(caption))